@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-toastify/dist/ReactToastify.min.css";
@import "./global/includes/toasts";
@import "./global/includes/animations";
@import "./global/includes/buttons";
@import "./global/includes/cards";
@import "./global/includes/forms";
@import "./Layout";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
}

p{margin: 0;}
a{
  text-decoration: none;
}

body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN WRAPPER */

#wrapper{
  min-height: 100vh;
}

.container{
  padding: 0;
}

/* DIMENSIONS */

.h-100vh{
  height: 100vh;
}
.h-90vh{
  height: 90vh;
}
.h-70vh{
  height: 70vh;
}
.h-50vh{
  height: 50vh;
}
.max-w-100{
  max-width: 100% !important;
}
.max-w-90{
  max-width: 90% !important;
}

.max-h-90vh{
  max-height: 90vh !important;
}



/* POSITION */
.left-0{
  left: 0 !important;
}
.z-index-9999{
  z-index: 9999;
}
.z-index-9998{
  z-index: 9998;
}

/* FONTS */

.fonts_size_1rem{
  font-size: 1rem;
}
.fonts_size_1_5rem{
  font-size: 1.5rem;
}
.fonts_size_2rem{
  font-size: 2rem;
}
.fonts_size_3rem{
  font-size: 3rem;
}
.fonts_size_4rem{
  font-size: 4rem;
}
.fonts_size_5rem{
  font-size: 5rem;
}
.fonts_size_6rem{
  font-size: 6rem;
}
.fonts_size_7rem{
  font-size: 6rem;
}

.fonts_Sriracha{
  font-family: "Sriracha",cursive;
}
.fonts_Montserrat{
  font-family: "Montserrat",Helvetica,sans-serif;
}


/* OTHER */

.pointer-events-auto{
  pointer-events: auto !important;
}

.pointer-events-none{
  pointer-events: none !important;
}

.cursor-pointer{
  cursor: pointer !important;
}


.white-space-nowrap{
  white-space: nowrap;
}


/* SCROLL */
.scroll-x {
  overflow-x: auto;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 2px;
}

/* .divider {
  width: 25vw;
  background-color: #EAECEF;
  height: 0.5vw;
  margin: 8% 0% 8% -5%;

} */

/* NAVIGATION */

.sidebar {
  padding: 0% 5%;
}

.tab_switches_wrapper {
  margin: -5% -5% 0% -5%;
}

.tab_switches {
  background-color: #263F45;
  padding: 10%;
  display: flex;
  width: 100%;
  height: 5.5vw;
  justify-content: space-between;
  margin: auto;
  color: #BABABA;
}

/* SEARCH */

.search {
  display: flex;
  flex-direction: column;
}
.searchbar {
  margin: 7% auto;
  width: 100%;
}

.search input {
  margin: 7% auto;
  height: 3vw;
  width: 100%;
  border-radius: 12px;
  border-width: 1px;
}

.search input::placeholder {
  padding-left: 1vw;
}
/* CATEGORY */

.vehicle, .categories {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
}

.categorieSlider {
  display: flex;
  position: absolute;
  left: 0;
}

.categories {
  position: relative;
  padding-bottom: 3vw;
  overflow: scroll;
}

.categories::-webkit-scrollbar {
  display: none;
}

.categories, .vehicle {
  margin: 7% auto;
}
.vehicleType, .category {
  width: 10vw;
  height: 3vw;
  background-color: #EFF0F6;
  color: #263F45;
  border-radius: 10px;
}

.category:not(:last-child) {
  margin-right: 1vw;
}

.category {
  width: 9vw;
}
.options button {
  position: absolute;
  z-index: 999;
}

/* CONTENT */

.in_fifteen_wrapper {
  .in_fifteen {
    font-size: 1.2vw;
    font-weight: 400;
  }
}

.content .card {
  margin-bottom: 1vw;
  border-radius: 1vw;
  h1 {
    font-size: 1.1vw;
  }
  .card_content_wapper {
    margin: 1vw 1.5vw;
  }
  .card_metrics {
    display: flex;
    p {
      margin-top: -0.4vw;
    }
    .dis_dur_wrapper {
      padding-right: 1vw;
      margin-top: 0.5vw;
      img {
        padding-right: 0.7vw;
      }
    }
  }
}

  /* VOTING */
.vote_bar {
  width: 25vw;
  .in_fifteen_wrapper {
    margin-top: 3vw;
  }
  .content {
    padding: 0% 5%;
  }
  .voting_buttons {
    display: flex;
    flex-direction: column;
  }
  .votingName {
    font-size: 1.1vw;
  }
  .votingAdress{
    font-size: 1.1vw;
  }
  .votingCoordinates{
    font-size: 1.1vw;
  }
  .votingInfo { 
    font-size: 12px;
  }
} 
.link {
  color: white;
}

.link:hover {
  color: white;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 0.6vw;

  img {
    margin-right: 1vw;
  }
}

.btn {
  width: 100%;
  height: 5vw;
  color: white;
  img {
    margin-right: 1vw;
  }
}

.btn:first-of-type {
  margin-bottom: 1vw;
}

.btn.no {
  background-color: #FF0000;
}

.btn.yes {
  background-color: #80C0C1;
}

.thumbRotate {
  transform: rotate(180deg);
}

.opinion {
  margin-top: 3vw;
}